#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS


STRINGTABLE
BEGIN
1000, "1000: An unknown internal error has occurred."
1001, "1001: A Pentium or better processor is required."
1002, "1002: At least 8MB of physical memory is required to run this game."
1003, "1003: Memory allocation failed."
1004, "1004: At least 2MB of video memory is needed to run this game."
2000, "2000: Could not create new window."
2002, "2002: Could not open file, or CD is missing from the drive."
4000, "4000: DirectDraw not available."
4001, "4001: Could not create primary DirectDraw surface."
4002, "4002: Could not create an offscreen surface."
4003, "4003: Could not set exclusive mode."
4004, "4004: Could not set normal mode."
4005, "4005: Could not set resolution."
4006, "4006: Could not create clipper for surface."
5000, "5000: Could not initialise CIF"
6000, "6000: No joystick detected."
END


SETUP_ICON              ICON    DISCARDABLE     "wipeout.ico"


1 VERSIONINFO
 FILEVERSION 1,0,0,26
 PRODUCTVERSION 1,0,0,26
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080904b0"
        BEGIN
            VALUE "Comments", "\0"
            VALUE "CompanyName", "Psygnosis Ltd\0"
            VALUE "FileDescription", "WipeOut for 3D Rage\0"
            VALUE "FileVersion", "1.0.0.29\0"
            VALUE "InternalName", "wipeout\0"
            VALUE "LegalCopyright", "Copyright © 1996 Psygnosis Ltd\0"
            VALUE "OriginalFilename", "wipeout.exe\0"
            VALUE "ProductName", "WipeOut for 3D Rage\0"
            VALUE "ProductVersion", "1.0.0.2\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x809, 1200
    END
END
